// ===========================================
// CONTROL ELEMENT CONTAINERS
// ===========================================


// CONTAINER FOR EACH SET OF CONTROLS
// CAN CONTAIN A SINGLE CONTROL OR A GROUP
.control-element, .btn-element {
  // LAYOUT
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}

// CONTAINER FOR GROUPS OF CONTROLS
.control-group-container {
  // FLEXBOX
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}

// EACH INDIVIDUAL CONTROL ITEM IN A GROUP
// ONLY USE WHEN PART OF CONTROL GROUP CONTAINER
.control-group-item {
  // LAYOUT
  width: 50%;
}

// CONTAINER FOR CONTROL ITEM'S LABEL AND READOUT
// ONLY NECESSARY WHEN THERE IS MORE INFO THAN JUST LABEL
.control-label-container {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
}


// ===========================================
// GLOBAL CONTROL SETTINGS
// ===========================================

// GLOBAL STYLE FOR ALL CONTROL BUTTONS
input, button {
  // LAYOUT
  height: $controls-height;

  // APPEARANCE
  // background: $gray-2;
  font-size: $ui-type-size;
  line-height: $ui-line-height;
  font-family: inherit;
  cursor: pointer;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// ===========================================
// GLOBAL BUTTON STYLE
// ===========================================

// DEFAULT BUTTON STYLES
button {
	// LAYOUT
  width: 100%;
	display: inline-block;
	-webkit-appearance: none;
  -moz-appearance: none;
	margin: 0;

	// APPERANCE
  color: $black;
	border: 1px solid $black;
	text-align: center;
	text-decoration: none;
  @include padding(0, 1.25);
  @include border-radius($btn-border-radius);

	// BEHAVIOR
  // @include transition(background $animate-time-fast ease-in-out);
}

button:hover, button:focus {
  opacity: $btn-hover-opacity;
}

button:active {
  opacity: $btn-active-opacity;
}

button > * {
  pointer-events: none;
}

// ===========================================
// PRIMARY CONTROL BUTTON STYLES
// ===========================================

.primary-button {
  // APPEARANCE
  background-color: $black;
  color: $white;

  // BACKGROUND ICON
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;

  &:hover {
    background-color: $black;
  }

}

// ===========================================
// SECONDARY BUTTON
// ===========================================

// .secondary-button {
//   // LAYOUT
//   width: $controls-height;
//   // APPEARANCE
//   @include border-radius(50%);
//   @include global-box-shadow;
//   @include padding(0, 0);
// }

// ===========================================
// TEXT BUTOTNS (LOOK LIKE LINKS)
// ===========================================

.text-button {
  // LAYOUT
  width: auto;
  height: 1.25rem;
  margin-left: 1rem;
  &:first-child {
    margin-left: 0;
  }
	// APPERANCE
	border: none;
  background: none;
	text-align: left;
  background-color: $white;
  @include border-radius(0);
  padding: 0;
  // TEXT
  font-size: $p-font-size-sm;
  line-height: $p-line-height;
  color: $black;
}

.text-button:hover, .text-button:focus {
  // APPEARANCE
  border-bottom: none;
  background-color: $white;
}


// ===========================================
// TOGGLE GROUP
// ===========================================

// TOGGLE BUTTONS BEHAVIOR
div.toggle-group {
	// FLEX CONTAINER STYLES
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}

// TOGGLE BUTTON MODIFICATION
button.toggle {
  // APPEARANCE
  // border: 1px solid $gray-3;
  border: none;
  background-color: $gray-1;
  color: $black;
  @include border-radius(0);
  &:first-child {
    @include border-radii($btn-border-radius, 0, 0, $btn-border-radius);
  }
  &:last-child {
    border-left: none;
    @include border-radii(0, $btn-border-radius, $btn-border-radius, 0);
  }
  &:hover {
    // background-color: $white;
    // color: $black;
  }
  // FLEX ITEM STYLES
  @include flex(1);
}

// ACTIVE CLASS FOR THE SELECTED BUTTON
button.toggle.selected {
	background-color: $black;
  color: $white;
  // border-color: $black;
  &:hover {
    opacity: 1;
  }
}


// ===========================================
// SLIDER
// ===========================================

// RANGE SLIDER
input[type=range] {
	@include input-type-range;
  margin: 0;
}

// RGB SLIDER VALUE READOUT
.slider-readout {
  margin-left: $spacing-unit / 2;
}


// ===========================================
// COLOR PICKER
// ===========================================

// COLOR PICKER
input[type=color] {
	border: none;
  padding: 0;
  margin: 0;
  height: $controls-height;
  width: $controls-height;
}
