/*
 ALL INTERACTIVE CONTROLS
*/

// ===========================================
// GLOBAL SETTINGS
// ===========================================

// GLOBAL STYLE FOR ALL CONTROL BUTTONS
input, button {
  // LAYOUT
  height: $controls-height;
  vertical-align: middle;

  // APPEARANCE
  font-size: $ui-type-size;
  line-height: $ui-line-height;
  font-family: inherit;

  // BEHAVIOR
  cursor: pointer;

  &:active {
    opacity: 0.9;
  }
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}



// ===========================================
// GLOBAL BUTTON STYLE
// ===========================================

// DEFAULT BUTTON STYLES
button {
	// LAYOUT
	display: inline-block;
	-webkit-appearance: none;
  -moz-appearance: none;
	margin: 0;
  width: 100%;

	// APPERANCE
  background: $white;
  color: $black;
	border: 1px solid $black;
	text-align: center;
	text-decoration: none;
  @include padding(0, 1.25);
  @include border-radius($btn-border-radius);
  @include global-box-shadow;

	// BEHAVIOR
  // @include transition(background $animate-time-fast ease-in-out);
}

button:hover {
  // APPEARANCE
  background-color: $black;
  color: $white;
}

button:active {
  box-shadow: none;

}

button > * {
  pointer-events: none;
}

// ===========================================
// PRIMARY CONTROL BUTTON STYLES
// ===========================================

.primary-button {
  // APPEARANCE
  background-color: $black;
  color: $white;

  // BACKGROUND ICON
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;

  &:hover {
    opacity: 0.98;
  }

}



// ===========================================
// SECONDARY BUTTON
// ===========================================

// .secondary-button {
//   // LAYOUT
//   width: $controls-height;
//   // APPEARANCE
//   @include border-radius(50%);
//   @include global-box-shadow;
//   @include padding(0, 0);
// }

// // ===========================================
// // TEXT BUTOTNS (LOOK LIKE LINKS)
// // ===========================================
//
// .text-button {
//   // LAYOUT
// 	display: block;
//   height: $content-line-height;
// 	// APPERANCE
// 	border: none;
//   background: none;
// 	text-align: left;
//   @include border-radius(0);
//   border-bottom: 1px solid $primary-color;
//   padding: 0;
//   // TEXT
//   font-size: $content-font-size;
//   line-height: $content-line-height;
//   color: $primary-color;
// }
//
// .text-button:hover {
//   // APPEARANCE
//   cursor: pointer;
//   background-color: $white;
//   border-bottom: none;
// }
//
// .text-button:focus {
//   // APPEARANCE
//   background-color: $white;
// }


// ===========================================
// TOGGLE GROUP
// ===========================================

// TOGGLE BUTTONS BEHAVIOR
div.toggle-group {
	// FLEX CONTAINER STYLES
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}

// TOGGLE BUTTON MODIFICATION
button.toggle {
  // APPEARANCE
  @include border-radius(0);
  &:first-child {
    @include border-radii($btn-border-radius, 0, 0, $btn-border-radius);
  }
  &:last-child {
    @include border-radii(0, $btn-border-radius, $btn-border-radius, 0);
  }
  // FLEX ITEM STYLES
  @include flex(1);
}


// ACTIVE CLASS FOR THE SELECTED BUTTON
button.toggle.selected {
	background-color: $black;
	color: $white;
}


// ===========================================
// SLIDER
// ===========================================

// RANGE SLIDER
input[type=range] {
	@include input-type-range;
  margin: 0;
}

// GROUP FOR SLIDER LABEL AND READOUT
.slider-info-container {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
}

// RGB SLIDER VALUE READOUT
.slider-readout {
  margin-left: $spacing-unit / 2;
}


// ===========================================
// COLOR PICKER
// ===========================================

// COLOR PICKER
input[type=color] {
	border: none;
  padding: 0;
  margin: 0;
  height: $controls-height;
  width: $controls-height;
}
