/**************************************
MAIN INTERACTION AREA
**************************************/

// PATTERN CONTAINER
#pattern-container {
  pointer-events: none;
}

// HTML CANVAS
canvas {
  vertical-align: top;
  cursor: pointer;
}


/**************************************
CONTROL PANEL LAYOUT
**************************************/

// TOP-LEVEL CONTROL PANEL CONTAINER
#controls-container {
  // LAYOUT
  position: absolute;
  top: 0;
  width: 100%;
  max-width: $control-panel-width;
  height: 100vh;
  z-index: 88;
  // APPEARANCE
  @include transition(left $animate-time-slow cubic-bezier(0.6, 0.10, 0.36, 1));
  border-right: 1px solid $gray-2;
}

// CLASSES TO SHOW/HIDE CONTROL PANEL
.cp-visible { left: 0; }
.cp-hidden { left: -$control-panel-width; }

// PATTERN INFO AND CONTROL CONTAINER
#control-panel {
  // LAYOUT
  height: calc(100vh - #{$cp-footer-height});
  padding: 1.5rem 1rem 0 1rem;
  overflow-y: auto;
  // APPEARANCE
  background-color: rgba(255, 255, 255, 0.95);
  // SMALLER SCREENS
  @include bp1 {
    padding-bottom: 3rem;
  }
}

// CONTROL PANEL FOOTER
#control-panel-toggle {
  // LAYOUT
  position: absolute;
  bottom: 0;
  left: 0;
  height: $cp-footer-height;
  padding: 1.5rem 1rem;
  z-index: 88;
  // FLEXBOX
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  // BEHAVIOR
  @include transition(all $animate-time-slow cubic-bezier(0.6, 0.15, 0.36, 1));
  // APPEARANCE
  background-color: $white;
  border-top: 1px solid $gray-2;
  border-right: 1px solid $gray-2;
}

.cp-toggle-max {
  width: 100%;
  opacity: 1;
  max-width: $control-panel-width;
}

.cp-toggle-min {
  width: 6rem;
  max-width: 6rem;
  z-index: 0;
  opacity: 0.95;
}
